@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 250;
  --foreground: 23, 23, 23;

  --primary: 190, 26, 219;
  --text_primary: 17, 17, 17;
  --text_secondary: 72, 73, 74;

  --card: 255, 255, 255;
  --button: 92, 91, 91;
}

.dark {
  --background: 10, 10, 10;
  --foreground: 237, 237, 237;

  --primary: 133, 76, 230;
  --text_primary: 242, 243, 244;
  --text_secondary: 177, 178, 179;

  --card: 23, 23, 33;
  --button: 133, 76, 230;
}


* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  margin: 0;
  scroll-behavior: smooth;

  @apply transition-colors duration-150;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  a {
    color: rgba(var(--foreground));
    text-decoration: none;
  }
}

.bg-custom {
  background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 30% 98%, 0px 100%);
}